#pai {
    display: flex;
    justify-content: center;
}
img {
    margin: 30px;
    
}
#filho1 {
    display: flex;
    justify-content: center;
}
#filho2 {
    display: flex;
    justify-content: center;
}