body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
button {
    width: 300px;
    height: 30px;
    margin-top: 80px;
    }
  
    #pai {
        display: flex;
        justify-content: center;
    }
    #meupreco {
        margin-top: 60px;
        width: 380px;
        height: 250px;
    }
    #aplicar {
        width: 70px;
        height: 20px;
        margin-top: 20px;
    }
    #divisao {
        display: flex;
    }
    #preço {
        margin-left: 150px;
    }
    #preço1 {
        margin-left: 180px;
    }
    #pedido {
        margin-top: 0px;
        margin-left: px;
    }
    #resumodopedido {
        margin-top: 60px;
        margin-left: 250px;
        width: 20%;
        height: 100%;
        border: solid rgb(182, 178, 178);
    }
    
    #topo2 {
        margin-top: 15px;
    }
    #frete {
        margin-left: 150px;
    }
    #frete2 {
        margin-left: 60px;
    }
    #frete3 {
        margin-left: 165px;
    }
    #frete4 {
        margin-left: 145px;
        margin-top: 25px;
    }
    #pai3 {
        margin-top: 40px;
        margin-left: 980px;
        width: 20%;
        height: 100%;
        border: solid rgb(182, 178, 178);
    }
    
    #finalizarpedido {
        
        width: 200px;
        margin-left: 25px;
    }
    #roda-pe {
        text-align: center;
        background-color: #333;
        color: #fff;
    }

#roda-pe {
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}
a {
    color: #ddd;
}
.rodape2 {
    display: flex;
}
#p11 {
    margin-left: 200px;
    margin-top: 50px;
}
#p22 {
    margin-left: 50px;
    margin-top: 50px;
}
#p33 {
    margin-left: 200px;
}
#p4 {
    margin-left: 200px;
}
#p5 {
    margin-left: 200px;
}
#p6 {
    margin-left: 200px;
}
.siteoficial {
    text-decoration: none;
}